{% extends "main.html" %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<title>About | PyHo 2025</title>
{% endblock header %}

{% block content %}
<div class="flex-1 max-w-screen-lg">
    <h1 class="mb-8 pageheading">About PyHo</h1>
    <p>Started in 2024, PyHo is a two days, single track conference by the Python User Group Ho.</p>
    <p>
        PyHo is a regional Python conference in the Volta Region of Ghana, celebrates the developer community's activities, achievements, and contributions within and beyond.
        It is run by volunteers from the developer and Python community within and beyond the region.
    </p>
</div>

<section class="important-dates">
    <h2><b>Important Dates to Keep</b></h2>
    <ul>
        <li><s><b>Call for Speakers Opens:</b> March 15, 2025</s></li>
        <li><s><b>Registration/Ticket Sales Open:</b> March 15, 2025</s></li>
        <li><s><b>Call for Speakers Closes:</b> June 15, 2025</s></li>
        <li><s><b>Speakers Announced:</b> July 5, 2025</s></li>
        <li><s><b>Registration/Ticket Sales Close:</b> September 20, 2025</s></li>
        <li><b>Pre-Conference: Django Day & Hackathon</b> October 22-23, 2025</li>
        <li><b>Conference Days:</b> October 24-25, 2025</li>
    </ul>
</section>

<section class="about">
    <p class="about-text">Join us for the largest gathering of developers of all levels - enthusiasts, beginners, intermediates, and advanced professionals in Ho, Volta Region.</p>
</section>

<section class="code-of-conduct">
    <h2><b>Code of Conduct</b></h2>
    <p class="lg:text-lg">
        We're committed to providing a safe and friendly environment for everyone to learn, meet, and enjoy the conference.
        All organizers, attendees, speakers and sponsors are to follow the
        <strong><a href="../coc">Code of Conduct</a></strong>.
    </p>
</section>

<section class="diversity-inclusion">
    <h2><b>Diversity & Inclusion</b></h2>
    <p>
        We encourage <a href="../diversity">diversity</a>, enforce our Code of Conduct, and make our event as inclusive and accessible as possible.
        
        <br>
        Our <strong><a href="../grants">Opportunity Grants</a></strong> affirms our D & I goal.
    </p>
</section>
<section class="public-health-safety">
    <h2><b>Public Health Safety</b></h2>
    <p>
        As part of our commitment to the safety of our attendees, we have a 
        <strong><a href="../health">Public Health & Safety Policy</a></strong> we request of all attendees to adhere to.
    </p>
</section>

<section class="socials">
    <h2><b>Stay in touch with Us</b></h2>
    <a href="https://x.com/PythonHo" target="_blank">
        <i class="fab fa-x-twitter"></i>
    </a>
    <a href="https://www.linkedin.com/company/pythonho/?viewAsMember=true" target="_blank">
        <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/hopythonusergroup" target="_blank">
        <i class="fab fa-github"></i>
    </a>
    <a href="https://www.youtube.com/@PythonHo" target="_blank">
        <i class="fab fa-youtube"></i>
    </a>
</section>

<section class="contact">
    <p>Send us a message at <a href="mailto:ho@pythonghana.org">ho@pythonghana.org</a></p>
</section>
{% endblock content %}