{% extends "main.html" %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock header %}

{% block hero %}

{% endblock hero %}

{% block content %}
    <header class="hero">
        <h1 style="color: white; font-weight: 900;">Code of Conduct</h1>
        <p class="hero-paragraph">
            PyHo is a regional Python community conference, collaborating with local communities to bring Python experience closer to underrepresented communities and developers of all levels.
        </p>
    </header>

    <p style="text-align: center; font-size: x-large;">
        We aim at fostering an inclusive, respectful conference environment, promoting participation from diverse backgrounds, and inclusivity.
    </p>

    <p style="font-size: xx-large;">We adhere to and follow the <a href="https://policies.python.org/python.org/code-of-conduct/">PSF Code of Conduct</a></p>

    <h1>Diversity and Inclusion statement:</h1>
    <p style="max-width: 50%; font-style: oblique;">
        <q>
            The Python Software Foundation and the global Python community welcome and encourage participation by everyone. Our community is based on mutual respect, tolerance, and encouragement, and we are working to help each other live up to these principles. We want our community to be more diverse: whoever you are, and whatever your background, we welcome you.
            </q>
    </p>

    <h1>Examples of Inappropriate Behavior</h1>
    <ul>
        <li>Harassing any participants in any form</li>
        <li>Intimidation, stalking, or following</li>
        <li>Logging or taking screenshots of online activity for harassment purposes</li>
        <li>Publishing others' private information, such as a physical or electronic address, without explicit permission</li>
        <li>Violent threats or language directed against another person</li>
        <li>Incitement of violence or harassment towards any individual, including encouraging a person to commit suicide or to engage in self-harm</li>
        <li>Creating additional online accounts in order to harass another person or circumvent a ban</li>
        <li>Sexual language and imagery in online communities or in any conference venue, including talks</li>
        <li>Insults</li>
    </ul>

    <h3>Be kind to everyone</h3>
    <p>
        A welcoming attitude helps create an inclusive and supportive environment for everyone - we entreat you
        to treat all participants with warmth and consideration.
    </p>

    <h3>Be respectful</h3>
    <p>
        Engage everyon else at the conference thoughtfully and avoid personal attacks, harassment, or disruptive behavior. Pay keen attention to
        differing perspectives and experiences
    </p>

    <h1>Reporting</h1>
    <p>
        <b>Report any misconduct or incidents to organizers or send us an email via <u>ho@pythonghana.org</u></b>
    </p>

    <h1>Weapons Policy</h1>
    <p>We will not allow weapons at PyHo.</p>

    <h1>Our Health and Safety Guide</h1>
    <p>Our top priority is ensuring the safety and well-being of all attendees, staff, and speakers, ensuring a secure and safe environment for all conference participants.</p>

    <p>
        The conference will adhere strictly to local health and safety guidelines, to promote good hygiene and advising attendees to if it become necessary, stay home if unwell. Further details on protocols and conference resources will be provided closer to the event.
    </p>

    <h1>Masking up</h1>
    <p>
        We encourage all in attendance to keep up with their COVID-19 vaccinations. The conference team also advice the use of facial coverings when indoors and unable to social distance
    </p>

    <h1>If you feel unwell</h1>
    <p>
        We advise you to stay at home and take care of your health while that is also very important.

    </p>

    <h1>If you feel any of these symptoms</h1>
    <p>Fever, Cough, Trouble breathing. aches and pains, nasal congestion, headache, conjunctivitis, sore throat, diarrhea, loss of taste or smell or a rash on skin or discoloration of fingers or toes etc.</p>

    <ul>
        <li>If you feel unwell</li>
        <li>If you need to talk to someone</li>
        <li>For general health care</li>
        <li>For severe symptoms or emergencies</li>
        <li>For general information on COVID-19</li>
    </ul>
    <b>Please do not hesitate to approach or alert any of the conference organizers or seek immediate attention or help.</b>
{% endblock content %}

{% block footer %}
<footer>
    <p>&copy; 2025 PyHo Conference, Ho.</p>
</footer>
{% endblock footer %}