{% extends "main.html" %}

{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock header %}


{% block hero %}
<header class="hero">
    <h1>We're happy to announce <br><br> PyHo 2025</h1>
    <p class="hero-paragraph">
        The regional Python community conference from the Oxygen City.
        <br><br>
        At the University of Health and Allied Sciences, Ho, Volta.
    </p>
    <h2 class="hero-date"><b>October 24th-25th, 2025</b></h2>
    <p class="cfp"><u>Our CFPs Open Soon</u></p>
</header>
{% endblock hero %}

{% block content %}
<section class="about">
    <p class="about-text">Join us for the largest gathering of developers of all levels—enthusiasts, beginners, intermediates, and advanced professionals in Ho, Volta Region.</p>
</section>

<section class="sponsor">
    <h2><b>Sponsor Us</b></h2>
    <p>We count on your Sponsorship to make our conference a success.
        <br>Download our <a href="static/prospectus.pdf" download>Sponsorship prospectus</a> or send us an email via sponsorship@pythonho.com.</p>
</section>

<!-- <section class="code-of-conduct">
    <h2><b>Code of Conduct</b></h2>
    <p>We are committed to providing a harassment-free experience for everyone. Respect and inclusivity are our priorities.</p>
</section> -->

<!-- <section class="subscribe">
    <h2>Join Our Mailing List</h2>
    <form>
        <input type="email" placeholder="Enter your email" required>
        <button type="submit">Subscribe</button>
    </form>
</section> -->

<section class="socials">
    <h2><b>Stay in touch with Us</b></h2>
    <a href="https://x.com/PythonHo" target="_blank">
        <i class="fab fa-x-twitter"></i>
    </a>
    <a href="https://www.linkedin.com/company/pythonho/?viewAsMember=true" target="_blank">
        <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/hopythonusergroup" target="_blank">
        <i class="fab fa-github"></i>
    </a>
    <a href="https://www.youtube.com/@PythonHo" target="_blank">
        <i class="fab fa-youtube"></i>
    </a>
</section>

<section class="contact">
    <p>Send us a message at <a href="mailto:ho@pythonghana.org">ho@pythonghana.org</a></p>
</section>
{% endblock content %}


{% block footer %}
<footer>
    <p>&copy; 2025 PyHo Conference, Ho.</p>
</footer>
{% endblock footer %}